html,

body {
  height: 100%;
  background-color: #F8F8F8;
}

// @font-face {
//   font-family: 'HelveticaNeueLTStd-Bd';
//   src: url('../assets/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Bd.otf');
// }

// * {
//   -moz-box-sizing: border-box;
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
//   margin:0;
//   padding:0;
//   -webkit-font-something: antialiased;
// }

.row {
  float:left;
  clear:both;
  width:100%;
  padding:0;
}

.columns {
  float: left;
  margin: 0;
  text-align: center;
  list-style-type: none;
}

.one { width: 6.25%; }
.two { width: 12.5%; }
.three { width: 18.75%; }
.four { width: 25%; }
.five { width: 31.25%; }
.six { width: 37.5%; }
.seven { width: 43.75%; }
.eight { width: 50%; }
.nine { width: 56.25%; }
.ten { width: 62.5%; }
.eleven { width: 68.75%; }
.twelve { width: 75%; }
.thirteen { width: 81.25%; }
.fourteen { width: 87.5%; }
.fifteen { width: 93.75%; }
.sixteen { width: 100%; }

.marginZero { margin: 0; }

.navBar{
  height: 71px;
  .homeBox{
    height: 40px;
    .homeLogoFont{
      height: 40px;
    }
  }

  .headerSearch{
    margin-left: 100px;
    .queryBox{
      width: 300px;
      height: 40px;
      float: left;
    }
    .querySubmit{
      height: 40px;
      float: right;
    }
  }
  .addNode{
    height: 40px;
  }
  .statusBoxAddNode{
    height: 40px;
  }
  .statusBoxProfile{
    height: 40px;
    border-radius: 20px;
  }
}

.mainBody{
  .leftCol{}
  .midCol{}
  .rightCol{}
  .homeIconBox{
    text-align: center;
    .textLogo{
      padding: 0px;
      margin-top: 20px;
    }
    .fontLogo{
      padding: 0px;
      margin-top: 15px;
      margin-bottom: 30px;
    }
  }
  .homeSearch{
    border-radius: 0px;
    height: 45px;
  }
  .homeFeeds{
    margin-top: 75px;
    .recentConnections{
      background-color: beige;
      border: solid 1px #ccc;
      padding-top: 5px;
      padding-right: 5px;
      padding-left: 5px;
      .recentConnectionsDiv{
        border: solid 1px #ccc;
        background-color: white;
        height: 120px;
        margin-bottom: 5px;
      }
      .recentConnectionsDiv :hover {
            background-color: beige;
        }
      // .siteRow :hover {
      //       background-color: beige;
      //   }
      .siteRow{
        margin: 0px;
        height: 40px;
        background-color: white;
        text-overflow: ellipsis;
        overflow: hidden;
        position: relative;

        // border: solid 1px #ccc;
      }
      .edgeUsername{
        padding: 0;
        margin: 0;
        padding-right: 5px;
        padding-bottom: 5px;
        height: 15px;
        text-align: right;
        float: bottom;
      }

      .faviconBox{
        width: 9%;
        float: left;
        margin-top: 2px;
        margin-left: 2px;
        padding: 2px;
        .faviconImg{
          width:30px;
        }
      }
      .textHolder{
        max-width: 90%;
        float: left;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .siteTitle{
        float: left;
        padding-left: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .siteURL{
        margin-top: 20px;
        padding-left: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .siteCount{
        position: absolute;
        background-color: #eee;
        padding:3px;
        right: 0px;
        top:0px;
      }

      
      .separator{
        height: 20px;
        padding: 0px;
        margin: 0px;
        // background-color: grey;
        .verticalBand{
          background-color: red;
          height: 100%;
          padding: 0px;
          margin: 0px;
          margin-left: 15px;
          width: 6px;

        }
      }
    }
    .leaderBoard{
      text-align: center;
      background-color: beige;
      height: 300px;
      border: solid 1px #ccc;
    }
  }
} // end MainBody

.searchResultGrid{
}
.searchResultHeader{
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  margin: 0px;
  padding: 0px;
  margin-top: 20px;
  .resultItemBox{
    border: solid 1px #ccc;
    border-bottom: none;
    padding: 0px;
    padding-top: 5px;
    margin: 0px;
    background-color: beige;

    .searchItemImgBox{
      float: left;
      padding-top: 5px;
      padding-left: 10px;
      width: 9%;
      .searchItemImg{
        height: 30px;
      }
    }
    .searchItemText{
      max-width: 90%;
      float: left;
      font-size: 16px;
      text-align: left;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      .searchItemURL{
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .searchItemTitle{
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .searchResultBox{
    .searchResult{
      height: 100px;
      border: 1px solid rgba(1, 0, 0, .05);
      .searchResultImg{
        width: 30px;
        margin-top: 25px;
        height: auto;
      }
      .searchResultText{
        font-size: 16px;
        margin-top: 10px;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .userSubmission{
        border-left: 1px solid rgba(1, 0, 0, .05);
        margin-left: -1px;
        height: 100px;
        text-align: center;
        .userSubmissionImg{
          border-radius: 25px;
          margin-top: 8px;
          width: 40%;
        }
      }
    }
  }
  .connectNodeRow{
    padding: 0px;
    padding-bottom: 15px;
    margin: 0px;

    .connectNodeBox{
      background-color: beige;
      border: solid 1px #ccc;
      border-top: none;
      padding: 0px;
      padding-bottom: 5px;
      padding-left: 10px;
      margin: 0px;
      .inputBox{
        float: left;
        .addURLInput{
          margin-top: 5px;
          width: 330px;
        }
      }
      .autoCompleteResults{
        padding: 0px;
        margin: 0px;
      }
      .connectButton{
        float: left;
        padding-left: 10px;
        margin-left: 15px;
        width: 80px;
        background-color: orange;
      }
    }
  }
} // end searchResults

.addPageContainer{
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    margin: 0;
    .url-submit{
      height:100%;
      a{

        line-height: 60px;
      ul{
        cursor: default;
        opacity: .3;
        &.active{
          opacity: 1;
          cursor: pointer;
        }
        padding:10px;
        height:60px;
        background-color: #eee;
        }
      }

    }
} // end addPageContainer


.connectionBox{
  @connectionBoxHeight: 55px;
  margin-top: 20px;
  .inputBox{
    border: 1px solid #eee;
    input{
      width: 250px;
      margin: 20px 10px 20px 10px;
    }
  }
  .loader{
      margin-top: 30px;
    }
  .connection{
    min-width: 900px !important;
  }
  .connectMetaphor{
    width: 200px;
    margin: 30px;
    min-width: 130px;
  }
  .connect{
    opacity: .5;
    cursor: pointer;
    &.enabled{
          opacity: 1;
          cursor: pointer;
    }
  }
  
  .leftBox{
    min-width: 330px;
    border: 1px solid rgba(1, 0, 0, .05);
    height: @connectionBoxHeight;
  }
  .rightBox{
    min-width: 330px;
    border: 1px solid rgba(1, 0, 0, .05);
    height: @connectionBoxHeight;
  }
  .nodeTitleBox{
    height: @connectionBoxHeight;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    float: left;
    .nodeTitle{
      text-align: left;
      font-size: 20px;
      padding-left: 10px;
      padding-top: 5px;
    }
    .nodeUrl{
      text-align: left;
      padding-left: 10px;
    }

  }
  .url-input{
      margin: 25px;
      input{
        width: 280px;
    }
  }

  .addIconBox{
    height: @connectionBoxHeight;
    min-width: 40px;
    border-right: 1px solid rgba(1, 0, 0, .05);
    margin-right: -1px;
    .addIcon{
      height: 25px;
      margin-top: 10px;
    }
  }
} // end connectionBox

.truncate{
  overflow: hidden;
  text-overflow: ellipsis;
}

.siteConnection{
  margin: 0px;
  padding: 0px;
  .midCol{
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
    border: 1px solid rgba(1, 0, 0, .05);
  }
  .resultRow{
    margin: 0px;
    padding: 0px;
  }
  .searchResultImgBox{
    margin: 0px;
    padding: 0px;
    width: 9%;
    float: left;
    .searchResultImg{
      margin-top: 10px;
      margin-left: 5px;
      height: 30px;
    }
  }
  .searchResultText{
    margin: 0px;
    padding: 0px;
    max-width: 90%;
    float: left;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    .searchResultTitle{
      padding-top: 5px;
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .searchResultURL{
    }
  }
  .userNameBox{
    margin: 0px;
    padding: 0px;
    width: 100%;
    .userName{
      float: right;
      padding-right: 10px;
    }
  }
}
